.App {

 /* font-family: 'Raleway', sans-serif; */

  font-family: 'Alegreya Sans SC', sans-serif;
  letter-spacing: 3px;
  line-height: 1.2;
}

@media only screen and (max-width: 600px) {
  .App{
    font-size: 0.5rem !important;
  }
}
