.chalk-banner{
  width: 100%;
}
#bio-background{
    width: 100%;
    height: 1200px;
    position: static;
    z-index: -1;
}
#bio-text{
  width: 50%;
  margin-left: 25%;
  margin-bottom: 20%;
  margin-top: 3%;
  font-size: 24px;
  position: absolute;
  z-index: 1;
  color: white;
  text-align: center;
}

#bio-picture {
  width: 30%;
  height: 30%;
  border-radius: 20%;
}
