h3{
  color: hsla(0, 0%, 93%, 1);
  text-align: center;
}
.bio-picture-title{
  position: absolute;
  z-index: 0;
  padding-top: 5%;
}
#bio-text{
  width: 35%;
  margin-left: 33%;
  margin-bottom: 20%;
  margin-top: 25%;
  padding-top: 5%;
  line-height: 20px;
  letter-spacing: 0.7px;
  font-size: 1rem;
  font-weight: lighter;
  position: absolute;
  z-index: 1;
  color: hsla(0, 0%, 93%, 1);
  text-align: ;
}
#bio-picture {
  width: 28%;
  height: 30%;
  border-radius: 20%;
  margin-right: auto;
  margin-left: 36%;
}
#bio-background{
  width: 100%;
  height: 1100px;
  position: static;
  z-index: -1;
}

@media only screen and (max-width: 600px) {
  .nav-bar{
    display: none;
  }
  #bio-background{
    height: 900px;
  }
  #bio-picture{
    width: 10%;
    height: 10%;
    margin-left: 20%;
  }
  #bio-text{
    font-size: 0.7rem;
    letter-spacing: 0.4px;
  }
}
