.release-page-wrappper {
  background-color: hsla(0, 0%, 3%, 1)
}
.release-page-title{
  color: hsla(0, 0%, 93%, 1);
  text-align: center;
  padding-top: 5%;
}
.albums {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
}

.albums > div {
  max-width: 28%;
  margin: 10%;
  margin-top: 3%;
  text-align: left;
  line-height: 15px;
  font-size: 1rem;
  font-weight: lighter;
  color: #e0e2e5;
}

.image {
  width: 100%;
}

.date-line{
  color: #9d9da0;
}

iframe {
   width: 110%;
   height: 300px;
}
p {
  width: 110%;
  padding-left: 0%;
  line-height: 20px;
  letter-spacing: 0.7px;
}
h2{
  text-align: ;
}

@media only screen and (max-width: 600px) {
  .albums > div {max-width: 50%;
    padding-left: 12%;
  }
  h2{
    text-align: center;
    font-size: 0.8rem;
    padding-left: 10%;
  }
  p{
    width: 110%;
    font-size: 0.7rem;
    letter-spacing: 0.4px;
  }
  h5{
    font-size: 0.7rem;
  }
  iframe {
    height: 200px;
  }
}
