.sideBarNav{
  height: ; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: ; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  margin-top: 10%;
  margin-left: 90%;
  margin-right: auto;
}


ul {
  list-style-type: none;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.7px;
}

@media only screen and (max-width: 600px) {
  .sideBarNav{
    margin-left: 75%;
    line-height: 20px;
    font-size: 10px;
    margin-left: 70%;
  }
}
