/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 600px) {
  
}

/* The sidebar menu */
.sidenav {
  height: ; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: ; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  margin-top: 10%;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  height: 32px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.insta {
  width: 32px;
  height: 32px;
}
